.pagination {
  font-family: var(
    --pagination-font-family,
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    'Noto Sans',
    'Liberation Sans',
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji'
  );
  font-weight: var(--pagination-font-weight);
  --pagination-active-font-weight: 800;
  line-height: var(--pagination-line-height, 1.5);

  --pagination-padding-x: 0.5rem;
  --pagination-padding-y: 0;
  --pagination-font-size: 1rem;
  --pagination-color: #0d6efd;
  --pagination-bg: #fff;
  --pagination-hover-color: var(--pagination-color);
  --pagination-hover-bg: var(--pagination-bg);
  --pagination-hover-text-decoration: underline;
  --pagination-active-color: var(#000000);
  --pagination-active-bg: var(--pagination-bg);
  --pagination-disabled-color: #6c757d;
  --pagination-disabled-bg: var(--pagination-bg);
  --pagination-item-margin-x: 0;
  display: flex;
  padding-left: 0;
  margin-top: var(--pagination-margin-top, 0);
  margin-bottom: var(--pagination-margin-bottom, 0);
  list-style: none;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: var(--pagination-padding-y) var(--pagination-padding-x);
  font-size: var(--pagination-font-size);
  color: var(--pagination-color);
  text-decoration: none;
  background-color: var(--pagination-bg);
  margin: 0 var(--pagination-item-margin-x);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .pagination .page-link {
    transition: none;
  }
}
.pagination .page-link:hover {
  z-index: 2;
  color: var(--pagination-hover-color);
  background-color: var(--pagination-hover-bg);
  text-decoration: var(--pagination-hover-text-decoration);
}

.pagination .active > .page-link {
  z-index: 3;
  color: var(--pagination-active-color);
  background-color: var(--pagination-active-bg);
  font-weight: var(--pagination-active-font-weight);
}

.pagination .disabled > .page-link {
  color: var(--pagination-disabled-color);
  pointer-events: none;
  background-color: var(--pagination-disabled-bg);
}

.pagination.justify-content-start {
  justify-content: flex-start;
}

.pagination.justify-content-end {
  justify-content: flex-end;
}

.pagination.justify-content-center {
  justify-content: center;
}
