.add-margin-padding {
  background: yellow;
  padding: 11px;
}

.add-margin-padding .pagination {
  background: red;
  margin: 20px;
  padding: 15px;
  border: 4px solid black;
}

.add-margin-padding .page-item {
  margin: 10px;
  border: 4px solid black;
}

.content-box * {
  box-sizing: content-box;
}

.demo .pagination {
  margin: 10px 10px 50px 10px;
}

.demo .pagination.justify-content-center {
  justify-content: flex-start !important;
}
