/* .pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.page-link {
  padding: 10px;
  margin: 0 2px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.page-item a.page-link:hover {
  background-color: #dddddd;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #007bff;
}

.page-item.disabled .page-link {
  color: #6c757d;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

*/
