.add-margin-padding {
  background: yellow;
  padding: 11px;
}

.add-margin-padding .pagination {
  background: red;
  margin: 20px;
  padding: 15px;
  border: 4px solid black;
}

.add-margin-padding .page-item {
  margin: 10px;
  border: 4px solid black;
}

.content-box * {
  box-sizing: content-box;
}

.demo .pagination {
  margin: 10px 10px 50px 10px;
}

.demo .pagination.justify-content-center {
  justify-content: flex-start !important;
}

/* Alternative classNames */

.alt-pagination {
  font-family: 'Roboto';
  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.alt-page-link {
  position: relative;
  display: block;
  margin: 0 10px;
  color: #007bff;
  text-decoration: none;
}

.alt-active > * {
  font-weight: bold;
}

.alt-disabled > * {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
}

.alt-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.previous-auto-margin {
  margin-inline-end: auto;
  --pagination-override-margin-inline-end: 0;
}

.previous-auto-margin-large {
  margin-inline-end: auto;
  --pagination-override-margin-inline-end: 100px;
}

.next-auto-margin {
  margin-inline-start: auto;
  --pagination-override-margin-inline-start: 0;
}

.next-auto-margin-large {
  margin-inline-start: auto;
  --pagination-override-margin-inline-start: 100px;
}
