$main-font-family:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';
$mono-font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;

$heading-font-family:
  'Trebuchet MS',
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Helvetica,
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol';

$font-weight-bold: 700;
$font-weight-semi-bold: 500;
$heading-line-height: 1.25;

$spacing-vertical: 1rem;
$spacing-horizontal: 1rem;

$leading: 1.25rem;

$border-radius: 0.4rem;

$top-nav-min-height: 48px;
$side-nav-width: 300px;
